<div class="user-info">
    <div class="parent">
        <div class="div1">
            <div><img src="https://cdn.pixabay.com/photo/2020/07/01/12/58/icon-5359553_1280.png" alt="user-img"></div>
            <div class="info">
                <div>Imię i Nazwisko: {{ user[0].name }}</div>
                <div>ID: {{ user[0]._id }}</div>
            </div>
        </div>
        <div class="div2">
            <a class="dropbtn" routerLink="/user-purchased" routerLinkActive="active"> 
                <button>Kupione produkty</button>
            </a>
        </div>

        <div class="div3">
            <a class="dropbtn" routerLink="/user-sold" routerLinkActive="active"> 
                <button>Sprzedawane produkty</button>
            </a>
        </div>

        <!-- <div class>
            <app-purchased-products-list></app-purchased-products-list>     
        </div>
        <div class="div3">
            <app-products-sold-list></app-products-sold-list>
        </div> -->
    </div>
</div>
