.user-info {
    display: flex;
    /* justify-content: space-around; */
    gap: 100px;
    margin: 50px 100px;
}

img {
    max-width: 300px;
}

.info {
    margin: auto 0;
}

.info div {
    margin: 20px 0;
    font-size: 1.3rem;
}

.parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    }
    
.div1 { grid-area: 1 / 1 / 2 / 3; }
.div2 { grid-area: 2 / 1 / 3 / 2; }
.div3 { grid-area: 2 / 2 / 3 / 3; }