<div class="header">
    <div>
        <h2>SPRZEDAWANE PRODUKTY</h2>
    </div>
    <a class="dropbtn" routerLink="/add-product" routerLinkActive="active"> 
        <button>Dodaj produkt</button>
    </a>
</div>

<ng-container *ngFor="let product of products.products">
    <div class="product">
        <div>
            {{ product.name }} <br>
            Ilość: {{ product.quantity }} <br>
            Cena: {{ product.price }} <br>
            <br>
        </div> 
        <div>
            <a class="dropbtn" routerLink="/edit-product/{{ product._id }}" routerLinkActive="active"> 
                <button>Edytuj</button>
            </a>
            <button (click)="deleteProduct(product._id)">Usuń</button>
        </div>
    </div>
</ng-container>
<br>
<br>