<nav>
    <div>
        <a class="navLogo" routerLink="/start" routerLinkActive="active"><strong>Allegro</strong></a>
    </div>

    <div class="icons">
        <div><a class="dropbtn" routerLink="/basket" routerLinkActive="active"><i class="fa-solid fa-basket-shopping"></i></a>
        <!-- {{cardService.sumOfTrips}} - {{cardService.priceOfTrips * currencyConverter.currencyConverter | currency:currencyConverter.currentCurrency:"symbol"}} -->
        </div>
        <div>
            <a class="dropbtn" routerLink="/user-info" routerLinkActive="active"><i class="fa-regular fa-circle-user"></i></a>
        </div>
        <!-- <div>
            <label for="checkBox" class="buttonLabel" id="open"><img src="../../assets/hamburger.svg" alt="burger"></label>
            <label for="checkBox" class="buttonLabel" id="close"><img src="../../assets/close.svg" alt="x"></label>
        </div> -->
    </div>
</nav>
<div class="nothing"></div>


