.product {
    display: flex;
    height: 100px;
    margin: 40px 0;
    background-color: beige;
    border-radius: 20px;
    padding: 20px 50px;
    justify-content: space-between;
    align-items: center;
    animation: smallerr 0.5s forwards;
}

.product:hover {
    background-color: bisque;
    height: 60px;
    border-radius: 25px;
    cursor: pointer;
    transition: transform 300ms;
    transform: scale(1.02);
    /*animation: bigger 0.5s forwards;*/
}

/*@keyframes bigger {*/
/*    from {height: 100px;}*/
/*    to {height: 130px}*/
/*}*/

@keyframes smallerr {
    from {height: 130px;}
    to {height: 100px;}
}

button {
    border: 1px solid #FC4F00;
    color: #FC4F00;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.1rem;
    padding: 5px 10px;
    border-radius: 10px;
    cursor: pointer;
    margin-right: 10px;
}

button:hover {
    /* border: none; */
    background-color: beige;
}

img {
    height: 100px;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

dialog {
    top: 40%;
}

.dialog-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.choose {
    font-family: 'Oswald', sans-serif;
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.x {
    text-align: end;
}

.x button {
    margin: 0;
    border: none;
    background-color: white;
    width: auto;
    height: auto;
    font-size: 1.1rem;
}

.ok {
    text-align: center;
}

.ok button {
    width: auto;
    height: auto;
    background-color: white;
    /* border-radius: 10%; */
    border: none;
    margin: 20px auto 0 auto;
    font-family: 'Oswald', sans-serif;
    font-size: 1.2rem;
}

input[type=text] {
    border: none;
    border-bottom: 1px solid black;
    font-family: 'Oswald', sans-serif;
}

input[type=text]:focus {
    outline: none;
}

.basket_name {
    display: inline;
}

.trash {
    margin-left: 10px;
    border: none;
    background-color: white;
    width: auto;
    height: auto;
}

.alert {
    border: 3px solid #E74646;
    margin: 20px auto 0 auto;
    background-color: #FFAFAF;
    position: fixed;
    left: 25%;
    width: 50%;
    text-align: center;
    border-radius: 17px;
}

.alert-text {
    font-size: 1.1rem;
    font-weight: lighter;
    font-family: 'Oswald', sans-serif;
    margin: 0;
    padding: 5px 0;
}

.alert-content {
    align-items: center;
}

